<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<div class="row ">


    <div class="col-md-4 col-sm-4">
        <div class="gallery-wrapper">

            <img src="img/ordi.png" class="img-responsive gallery-img" alt="Actu 1">
            <div class="gallery-des">
                <h3>Titre Actualité 1 </h3>
                <h5>Cras in ante mattis, elementum nunc sed.</h5>
                <a href="#/vue1" class="btn btn-info button-grey animated fadeInUp">Lire la suite</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="gallery-wrapper">
            <img src="img/ipadair.png" class="img-responsive gallery-img" alt="Actu 2">
            <div class="gallery-des">
                <h3>Titre Actualité 2</h3>
                <h5>In ullamcorper gravida enim id pulvinar</h5>
            </div>
            <a href="#/vue2" class="btn btn-info button-grey animated fadeInUp">Lire la suite</a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="gallery-wrapper">
            <img src="img/ipadair.png" class="img-responsive gallery-img" alt="Actu 3">
            <div class="gallery-des">
                <h3>Titre Actualité 3</h3>
                <h5>Maecenas efficitur nisi id sapien</h5>
            </div>
            <a href="#/vue3" class=" btn btn-info button-grey animated fadeInUp">Lire la suite</a>
        </div>
    </div>
</div>