<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<h2 class="animated fadeInDown" data-wow-delay="4000">Actualité 3</h2>
<br>
<p class="animated fadeInRight contenu" data-wow-delay="4000">Contenu de l'actualit....................
    Alors que sa conférence était dédiée essentiellement à ses nouveaux Nexus 5X et Nexus 6P, Google a présenté une tablette qui n’a pas grand-chose à voir avec la série d’appareils que l’on connaît déjà.<br/>
    Car cette tablette en question s’inscrit dans la série Pixel, tournée vers des Chromebook haut de gamme, mais tourne en réalité sous Android 6.0 Marshmallow.<br/>
    Une fois cette nébuleuse logicielle éclaircie, passons au corps de la bête.<br/><br/>

    Le Pixel C, dont l’écran mesure 10 pouces, affiche une définition de 2560 × 1800 pixels, soit une résolution de 308 ppp. Sa luminosité, elle, monte à 500 nits.<br/>
    Cet écran, et c’est particulièrement notable puisque la puce ne se voit presque nulle part ailleurs hormis sur la Nvidia Shield Android TV, abrite un processeur Nvidia Tegra X1 ainsi qu’un GPU Maxwell et 3 Go de RAM, le tout dans un boîtier en aluminium.<br/>
    Celui-ci inclut un port USB type-C, afin d’assurer un transfert de données et une charge rapide.<br/>
    Toutefois, on ignore encore la capacité de la batterie intégrée à la tablette.</p><br>
<a href="#/" class="btn btn-primary pull-right revenir" ><span class="fa fa-chevron-left"></span> revenir accueil  </a>
</html>